html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Noto Serif', serif;
    background-color: rgba(255, 255, 255, 0.9);
}


p{
    margin: 0;
}

section{
    padding: 60px 0;
}

.display-4{
    font-size: 35px;
}

#owner .display-4{
    font-size: 35px;
}

.btn{
    color: white;
    background-color: rgb(196, 110, 53);
}

.btn:hover{
    color: black;
    background-color: white;
    transition: all 0.3s;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: rgb(196, 110, 53);
    transition: 0.3s;
}
/*header*/
header{
    width: 100%;
    height: 55vh;
    background: linear-gradient(rgba(229, 230, 231, 0.9), rgba(0, 0, 0, 0.9)), url(img//subscribe.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

header > .container{
    position: relative;
    height: 100%;
    padding: 0;
}

.navbar-brand{
    position: absolute;
    width: 100%;
    max-width: 100px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: 650ms;
}

.navbar-brand:hover{
    opacity: .8;
}

.hamburger-menu{
    position: fixed;
    top: 25px;
    right: 40px;
    height: 50px;
    display: flex;
    border-radius: 4px;
    cursor: pointer;
    z-index: 999;
    background-color: rgba(0,0,0,0.7);
    width: 50px;
    border-radius: 2px;
}

.hamburger-menu i{
    font-size: 30px;
    color: rgb(196, 110, 53);
    margin: auto;
}

.hamburger-menu .fa-times{
    display: none;
}

.hamburger-menu .fa-times.open{
    display: block;
    opacity: 1;

}

.hamburger-menu .fa-bars.open{
    display: none;
}

.nav-list{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    list-style: none;
    background-color: #101D2C;
    display: flex;
    z-index: 900;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    transition: 650ms;
}

.nav-list.open{
    opacity: 1;
    transform: scale(1);
}

.hero-text{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center;
}

.hero-text h1{
    color: rgb(180, 99, 6);
    font-family: 'Noto Serif', serif;
    text-shadow: 1px, 2px, 20px rgba(0, 0, 0, 0.5);
}

.btn{
    width: 150px;
    padding: 5px 0 !important;
    border: 1px solid rgb(196, 110, 53);
    position:relative;
    overflow: hidden;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255,255,255, .3), transparent);
    transition: all 650ms;
}

.btn:hover::before{
    left: 100%;
}

.home{
    text-decoration: none;
    color: rgb(196, 110, 53);
}

.home:hover{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.current{
    text-decoration: none;
    color: black;
}

.current:hover{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
/*about-1*/
#about-1 .btn{
    background-color: rgb(196, 110, 53);
    color: white;
}

#about-1 .btn:hover{
    background-color: white;
    color: rgb(180, 99, 6);
}

#about-1 p{
    font-size: 16px;
    line-height: 30px;
}


/*quotes*/

#quotes{
    width: 100%;
    height: 60vh;
    background: linear-gradient(rgba(229, 230, 231, 0.9), rgba(0, 0, 0, 0.9)), url(img/teamwork.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

/*slider*/

.card img{
    width: 100%;
    height: 360px;
}

.card-body h4{
    font-size: 16px;
}

.card-body h3{
    font-size: 20px;
}

.card-body p{
    font-size: 30px;
}

.card-body a{
    text-decoration: none;
}

.card-body a:hover{
    color: black;
}


/*owner*/
#owner{
    width: 100%;
    height: 60vh;
    background: linear-gradient(rgba(229, 230, 231, 0.5), rgba(0, 0, 0, 0.9)), url(img/subscribe.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}


/*subscribe*/
#login{
    width: 100%;
    height: 75vh;
    background: linear-gradient(rgba(229, 230, 231, 0.5), rgba(0, 0, 0, 0.9)), url(img/artoftea.com-1.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

























/*Footer*/
footer{
    background-color: rgb(185, 182, 171);
    padding: 10px;
}

footer .btn{
    width: 150px;
    color: white;
    transition: background-color 0.3s;
    background-color: rgb(196, 110, 53);
}

footer .btn:hover{
    color: white !important;
    background-color: rgb(177, 136, 25) !important;
}

footer .display-4{
    font-size: 45px !important;
}

footer i{
    padding: 10px;
    color: rgb(175, 42, 42);
}

footer a{
    text-decoration: none !important;
    color: white;
}

footer h5{
    font-size: 16px;
}

footer h4{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
}

footer a:hover{
    text-decoration: none !important;
    color:rgb(180, 99, 6);
    transition: 0.3s;
}

.fa-twitter-square{
    color: rgba(85,172,238,1);
}

.fa-facebook-square{
    color: rgba(59,89,153,1);
}

.fa-instagram-square{
    color: rgba(228,64,95,1);
}

.fa-pinterest-square{
    color: rgba(205,32,31,1);
}

.fa-youtube-square{
    color: rgba(205,32,31,1);
}

/*back to top*/
#back-to-top-btn{
    position: fixed;
    bottom: 40px;
    right: 20px;
    font-size: 25px;
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(196, 110, 53);
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    z-index: 999;
}

#back-to-top-btn:hover, #back-to-top-btn:focus{
    background-color: black;
    color: white;
}

.btnEntrance{
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

#quotes .btn{
    background-color: rgb(180, 99, 6);
    color: white;
}

#quotes .btn:hover{
    background-color: white;
    color: rgb(180, 99, 6);
}


/*small phone or landscape*/
@media (min-width: 570px){
    .navbar-brand{
        max-width: 90px;
        margin-top: 10px;
    }

    .hamburger-menu{
        top: 35px;
        right: 25px;
    }

}

/*tablets or medium*/
@media (min-width: 768px) {
    .btn{
        width: 150px;
    }
    
    .display-4{
        font-size: 50px !important;
        font-weight: 700;
    }

}

    /*tablet or small laptop*/
@media (min-width: 992px){
    header > .container{
        padding: 0 10px;
    }

    .hamburger-menu{
        display: none;
    }

    .navbar-brand{
        position: initial;
        transform: initial;
        animation-name: navbar-brand;
        animation-duration: 4s;
    }


    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: initial;
        flex-direction: row;
        opacity: initial;
        transform: initial;
        transition: initial;
        margin: 0;
        padding: 0;
    }

    .nav-item{
        margin: 0 30px;
    }

    .nav-item:last-child{
        margin-right: 0;
    }

    .nav-link{
        position: relative;
        padding: 0;
        color: black!important;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 18px;
    }

    .nav-link::before{
        content: '';
        position: absolute;
        left: 0;
        background-color: rgb(196, 110, 53);
        width: 100%;
        height: 2px;
        bottom: -3px;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s;
    }

    .nav-link:hover::before{
        transform: scaleX(1);
    }
    
    .display-4{
        font-size: 50px !important;
        font-weight: 700;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .hero-text p{
        font-size: 30px !important;
        font-weight: 700;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    }

    footer .display-4{
        font-size: 50px !important;
    }
    
    .caption{
        margin-top: 70px;
    }

}